#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Zia's Integrated Deckframe
Exec=sh -c 'rm /tmp/wf-sd-install.sh; if curl -S -s -L -O --output-dir /tmp/ --connect-timeout 60 https://raw.githubusercontent.com/zetaPRIME/wf-sd/main/wf-sd-install.sh; then bash /tmp/wf-sd-install.sh; else echo "Unable to download script; please check your internet connection and try again momentarily."; read; fi'
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
