[Desktop Entry]
Name=Install Zia's Integrated Deckframe
Exec=sh -c 'rm /tmp/wf-sd-install.sh; if curl -S -s -f -L -O --output-dir /tmp/ --connect-timeout 60 https://raw.githubusercontent.com/zetaPRIME/wf-sd/main/wf-sd-install.sh; then bash /tmp/wf-sd-install.sh; else zenity --error --text="Unable to download install script; please check your internet connection and try again momentarily."; fi'
Icon=steamdeck-gaming-return
Terminal=false
Type=Application
StartupNotify=false
